<link rel="icon" type="image/png" href="{{ "https://midaf-ryanshah.github.io/midafblog.github.io/assets/images/favicon/favicon-96x96.png"}} sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ "https://midaf-ryanshah.github.io/midafblog.github.io/assets/images/favicon//favicon.svg"}} />
<link rel="apple-touch-icon" sizes="180x180" href="{{ "https://midaf-ryanshah.github.io/midafblog.github.io/assets/images/favicon/apple-touch-icon.png"}} />
<link rel="manifest" href="{{ "https://midaf-ryanshah.github.io/midafblog.github.io/assets/images/favicon/site.webmanifest"}} />